#logo{
    background-color:#293f50;
    color: white;
    font-weight: 100;
    margin-bottom: 22px;
}

.mt{
    margin-top: -3%;
    padding-top: 5%;
    padding-bottom: 2%;
}


.padd{
    padding: 40px 0 22px 0;
}

.fw{
    font-weight: 100;
    font-size: 50px;
}

.bor{
    border-top: 4px solid #648880;
}

.col{
    color: white;
    text-decoration: none;
}

.navbar-nav {
    display: inline-block;
  }
  
  .navbar-nav>li {
     display: inline-block;
  }

  a:link, a:visited {
    text-decoration: none!important;
}

.paddnav{
    padding-top: 60px;
}

.bodytext{
    font-weight: 100;
    text-align: center;
    color: #648880;
    line-height: 44px;

}

.bodytext2{
    font-weight: 100;
    text-align: center;
    color: white;
    font-size: 24px;
    line-height: 44px;
    width: 67%;

}

.btn{
    margin-top: 25px;
    margin-bottom: 25px;
}

.carousel-inner img {
    width: 100%;
    height: 100%;
  }

.bod{
    text-align: center;
    color: #293f50;
    padding-top: 5%;
}

.bg{
    background-color:#293f50;
    text-align: center;
    color: white;
}

.endtext{
    color: white;
    margin-bottom: 22px;
    text-align: center;
}

.pdng{
    padding-top: 5%;
}

.just{
    text-align: justify;
}

ul.a {
    list-style-type: circle;
  }

.ta{
    text-align: left;
}

.paddbtm{
    
    padding-bottom: 5%;

}

#scroll{
    position: fixed;
    right: 10px;
    bottom: 10px;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background: #293f50;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.25);
    color: white;
    outline: none;
    cursor: pointer;
    border: none;
    z-index: 1;
}

#scroll:active{
    background-color: #648880;
}


.cur{
    cursor: context-menu;
}

.mod{
    position: fixed;
    z-index:  1;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.5);
}

.mdc{
    background-color: #648880;
    margin-top: 15%;
    margin-left: 40%;
    padding: 15px;
    width: 20%;
    box-shadow: 0 5px 8px 0 rgba(0, 0, 0, 0.2), 0 7px 20px 0 rgba(0, 0, 0, 0.2);
    animation-name: modalopen;
    animation-duration: 1s;
    border-radius: 15px;
}



.closeBtn{
    color: #ccc;
    float: right;
    font-size: 30px;
}

.closeBtn:hover , .closeBtn:focus{
    color: black;
    text-decoration: none;
    cursor: pointer;
}



@keyframes modalopen{
    from {opacity: 0;}
    to {opacity: 1}
}




p{
    text-align: justify;
}

#okbtn{
    margin-bottom: auto;
}

.disp{
    display: block;
}

.dropdown-menu{
    min-width:10px;
    text-align: justify;
    padding-left: 6px;
    padding-right: 6px;
}
