.bdytxt{
    text-transform: uppercase;
    text-align: center;
    color: white;
    font-weight: 100;
}

.bg1{
    background-color:#293f50 ;
    color: white;
}

#slider{
    -webkit-appearance: none;
    width: 75%;
    height: 15px;
    outline: none;
    border-radius: 4px;
    background-color: white;
    border-radius: 12px;
    box-shadow: 0px 1px 10px 1px black;
    
}

#slider:hover{
    opacity: 1;
}

#slider::-webkit-slider-thumb{
    -webkit-appearance: none;
    appearance: none;
    width: 25px;
    height: 25px;
    background-color: #648880;
    border-radius: 50%;
    cursor: pointer;
}

#slider::-moz-range-thumb{
    width: 25px;
    height: 25px;
    background-color: #648880;
    border-radius: 50%;
    cursor: pointer;
}

#rangevalue{
    font-size: medium;
    padding: 2px;
    width: 50px;
    box-sizing: border-box;
    background: #ffff;
    text-align: center;
    color: #293f50;
}

.tx{
    text-align: center;
}

.cont{
    padding-top: 4%;
}

.padc{
    padding-top: 6%;
}

.plantxt{
    text-transform: uppercase;
    
}

.dots{
    list-style-type: none;
    display: block;
}

.menust{
    border: 2px solid;
    font-size: larger;
    margin-bottom: 7%;
    margin-top: 3%;
    display: block;
}
